@charset 'utf-8';
/* font */
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline-style: none; */
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  vertical-align: top;
  border: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  font-weight: 400;
  font-size: 12px;
  letter-spacing: -0.32px;
  line-height: 1.4;
  color: #888;
}

/* common */
.clearfix::after {
  position: relative;
  content: '';
  display: block;
  width: 100%;
  clear: both;
}

.inner {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* header */
.header {
  position: fixed;
  display: block;
  width: 100%;
  background-color: #000;
  z-index: 99999;
}

.header .inner {
  position: relative;
  display: block;
  height: 100px;
}

.logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  display: block;
  width: 130px;
  height: 50px;
  background: url(../images/다운로드.svg) no-repeat center;
  background-size: contain;
}

.main-gnb {
  position: relative;
  display: block;
}

.main-gnb .main-sub-gnb {
  position: absolute;
  top: 0;
  left: 15%;
  transform: translateX(-15%);
  display: block;
}

.main-gnb .main-sub-gnb>li {
  position: relative;
  display: block;
  float: left;
}

.main-gnb .main-sub-gnb>li>a {
  position: relative;
  display: block;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  font-size: 18px;
  padding-right: 10px;
  padding-left: 10px;
  color: #fff;
}

.right-gnb {
  position: relative;
  display: block;
}

.column-line {
  position: absolute;
  top: 50%;
  right: 53%;
  transform: translateY(-50%);
  display: block;
  width: 20px;
  height: 20px;
  color: #fff;
  text-align: center;
  line-height: 20px;
  font-weight: bold;

}

.right-gnb .right-sub-gnb {
  position: absolute;
  top: 0;
  right: 15%;
  transform: translateX(15%);
  display: block;
}

.right-gnb .right-sub-gnb>li {
  position: relative;
  display: block;
  float: right;
}

.right-gnb .right-sub-gnb>li>span {
  position: absolute;
  width: 20px;
}

.right-gnb .right-sub-gnb>li>a {
  position: relative;
  display: block;
  width: 70px;
  height: 100px;
  line-height: 100px;
  font-size: 14px;
  color: #fff;
}

.icons {
  position: absolute;
  top: 50%;
  right: 2%;
  transform: translateY(-45%);
  display: block;
}

.material-icons {
  position: relative;
  display: block;
  width: 24px;
  height: 10px;
  color: #fff;
  margin-right: 20px;
}

/* visual */
.visual {
  position: relative;
  display: block;
}

.v-inner {
  position: relative;
  display: block;
}

.v-inner .v-link {
  position: relative;
  display: block;
  width: 100%;
  height: 650px;
  background: url(../images/main_firstgift_logout.29ecc8b.png) no-repeat center;
  background-size: cover;
}

/* banner */
.banner {
  position: relative;
  display: block;
}

.swiper-container {
  position: relative;
  display: block;
  height: 180px;
  margin-top: 45px;
  float: left;
}

.sw-banner {
  width: 100%;
  height: 100%;
}

.swiper-container .swiper-wrapper {
  position: relative;
  display: block;
  width: 600px;
  height: 180px;
}
.sw-banner>a {
  position: relative;
  display: block;
  width: 600px;
  height: 100%;
}

.swiper-slider-1 {
  position: relative;
  display: block;
  /* width: 100%;
  height: 100%; */
  background: url(../images/202206_event_summer-pc-banner-2.png) no-repeat center;
  background-size: contain;
}

.swiper-slider-2 {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background: url(../images/banner-slide2.png) no-repeat center;
  background-size: contain;
}

.swiper-slider-3 {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background: url(../images/banner-slide3.png) no-repeat center;
  background-size: contain;
}

.swiper-slider-4 {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background: url(../images/banner-slide4.png) no-repeat center;
  background-size: contain;
}

.swiper-slider-5 {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background: url(../images/banner-slide5.png) no-repeat center;
  background-size: contain;
}

.swiper-slider-6 {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background: url(../images/banner-slide6.png) no-repeat center;
  background-size: contain;
}

.right-banner {
  position: relative;
  display: block;
  width: 600px;
  height: 180px;
  float: right;
  margin-top: 45px;
}

.r-banner-img {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background: url(../images/freshplan.9fe4775.png) no-repeat center;
  background-size: contain;
}

/* best-item */
.best-item {
  position: relative;
  display: block;
  margin-top: 100px;
}

.best-item-title {
  position: relative;
  display: block;
  font-size: 35px;
  font-weight: bold;
  color: #000;
  margin: 20px 0 0 0;
}

.best-item-wrap {
  position: relative;
  display: block;
  width: 100%;
  height: 1000px
}

.best-item-list {
  position: relative;
  display: block;
}

.best-item-img {
  position: relative;
  display: block;
  width: 280px;
  height: 280px;
  margin: 50px auto 0;
}

.best-item-wrap .best-item-list>li {
  position: relative;
  display: block;
  width: 31.6%;
  height: 400px;
  float: left;
  margin-right: 31.2px;
}

.best-item-wrap .best-item-list>li:nth-child(n+4) {
  margin-top: 100px;
}

.best-item-list>li>a {
  position: relative;
  display: block;
}

.best-item-list>li>a>h4 {
  font-weight: bold;
  font-size: 18px;
  color: #000;
  margin-top: 15px
}

.best-item-list>li>a>p {
  font-size: 16px;
  color: #888;

}


.g-back {
  position: relative;
  display: inline-block;
  width: 370px;
  height: 400px;
  background-color: antiquewhite;
}

.best-item-wrap .best-item-wrap>li>a {
  position: relative;
  display: block;
}




/* advertisement */
.advertisement {
  position: relative;
  display: block;
}

.ad-wrap {
  position: relative;
  display: block;
  height: 200px;
  margin-top: 30px;
  margin-bottom: 130px;
}

.ad-wrap>a {
  position: relative;
  display: block;
  background: url(../images/banner_shop.96086e0.png) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

/* footer */
.footer {
  position: relative;
  display: block;
}

.f-wrap {
  position: relative;
  display: block;
  width: 100%;
  height: 300px;
  border-top: 2px solid rgb(218, 218, 218);
}

.top-footer {
  position: relative;
  display: block;
  width: 100%;
  height: 20%;
  border-bottom: 2px solid rgb(232, 232, 232);
  background-color: palegoldenrod;
}

.privacy-policy {
  position: relative;
  display: block;
  width: 300px;
  height: 60px;
  float: left;
}

.privacy-policy a {
  position: relative;
  display: inline;
  margin-right: 20px;
  text-align: center;
  line-height: 60px;
  font-size: 14px;
  float: left;

}

.application-btn {
  position: relative;
  display: block;
  height: 60px;
  padding-top: 10px;
  float: right;
}

.application-btn>button,
.application-btn i {
  position: relative;
  display: block;
  float: left;
}

.bottom-footer {
  position: relative;
  display: block;
}

.left-desc {
  position: absolute;
  top: 5px;
  left: 0;
  display: block;
  float: left;
}

.f-logo {
  position: relative;
  display: block;
  background: url(../images/f-logo.svg);
  background-size: cover;
  width: 82px;
  height: 32px;
  margin: 20px 0;
}

.customer-service {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  text-align: right;
  margin-top: 10px;
}

.cs {
  font-size: 14px;
  color: #000;
  font-weight: bold;
}

.phone {
  font-size: 24px;
  color: #000;
  font-weight: bold;
}

.open-time {
  margin-bottom: 10px;
}

.kakao>a,
.e-mail>a {
  color: skyblue;
}

.cs-btn button {
  position: relative;
  display: block;
  padding: 5px;
  margin: 10px 5px 0px 10px;
  float: left;
  background-color: #fff;
  border: 1px solid #333;
  border-radius: 5px;
}

.cs-btn button:last-child {
  margin-right: 0;
}